

    body {
      font-family: Arial;
      background-color: #f2f2f2;
    }

    .container {
      width: 300px;
      background: white;
      padding: 20px;
      margin: 100px auto;
      border-radius: 10px;
      box-shadow: 0 0 10px gray;
    }

    button {
      width: 100%;
      padding: 10px;
      margin-top: 15px;
      background-color: blue;
      color: white;
      border: none;
      cursor: pointer;
    }

    #result {
      margin-top: 20px;
      color: green;
      font-weight: bold;
    }

